<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" timeout="45">
    </sessionState>
    <!-- <identity impersonate="true" /> -->
     <customErrors mode="Off"/>
  </system.web>

  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-PUGJIMU;Integrated Security=False;User ID=sa;password=I4o?hn10;Connect Timeout=45;Encrypt=False;Packet Size=4096" name="AppV" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <!--
                <add value="login.aspx" />
				-->
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>